In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [9]:
internet = pd.read_csv('./Internet_Penetracion.csv')
internet.head(10)

    Año  Trimestre        Provincia Accesos por cada 100 hogares
0  2022          1     Buenos Aires                        76,08
1  2022          1  Capital Federal                        111,8
2  2022          1        Catamarca                        58,21
3  2022          1            Chaco                        44,06
4  2022          1           Chubut                        88,05
5  2022          1          Córdoba                        85,76
6  2022          1       Corrientes                        47,64
7  2022          1       Entre Ríos                         63,7
8  2022          1          Formosa                        34,96
9  2022          1            Jujuy                        58,06

In [6]:
internet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 792 entries, 0 to 791
Data columns (total 4 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Año                           792 non-null    int64
 1   Trimestre                     792 non-null    int64
 2   Provincia                     792 non-null    object
 3   Accesos por cada 100 hogares  792 non-null    object
dtypes: int64(2), object(2)
memory usage: 24.9+ KB